<svg:g *ngFor="let box of boxes">
  <svg:rect
    [attr.x]="box.x"
    [attr.y]="box.y"
    [attr.width]="box.width"
    [attr.height]="box.height"
    fill="transparent"
    stroke="white"
    stroke-width="2"
  />
  <svg:line
    [attr.x1]="box.x"
    [attr.y1]="box.y"
    [attr.x2]="box.x1"
    [attr.y2]="box.y1"
    stroke="white"
    stroke-width="2"
  />
  <svg:line
    [attr.x1]="box.x + box.width"
    [attr.y1]="box.y"
    [attr.x2]="box.x1 - box.width"
    [attr.y2]="box.y1"
    stroke="white"
    stroke-width="2"
  />
</svg:g>
