<svg:defs>
  <svg:pattern
    id="pattern_text"
    patternUnits="userSpaceOnUse"
    width="10"
    height="10"
    patternTransform="rotate(45)"
  >
    <svg:line x1="0" y="0" x2="0" y2="10" stroke="#FFF" stroke-width="1" />
  </svg:pattern>
</svg:defs>
<svg:g *ngFor="let box of boxes">
  <svg:rect
    [attr.x]="box.x"
    [attr.y]="box.y"
    [attr.width]="box.width"
    [attr.height]="box.height"
    fill="url(#pattern_text)"
    :opacity="1"
    stroke="white"
    stroke-width="1"
  />
  <svg:text
    [attr.x]="box.x + box.width / 2"
    [attr.y]="box.y + box.height / 2"
    fill="white"
    text-anchor="middle"
    alignment-baseline="central"
  >
    {{ box.text }}
  </svg:text>
</svg:g>
