@import "../variables";

//  grid.layoutit.com?id=jyXwDTC

.grid-container {
  display: grid;
  grid-template-columns: 15% 35% 35% 15fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . . .";
}
