@import "../variables";

//  grid.layoutit.com?id=jyXwDTC

.grid-container {
  display: grid;
  grid-template-columns: 10% 1fr;
  grid-template-rows: $app-bar-height 1fr;
  grid-template-areas: "header header" "ui-list screens";
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;

  app-appbar {
    grid-area: header;
  }

  app-ui-list-area {
    grid-area: ui-list;
    overflow-y: scroll;
  }

  app-screens {
    grid-area: screens;
  }
}
