.screens-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 35% 35% 30%;
  grid-template-areas: ". . .";
  height: 100%;

  [class$="-area"] {
    display: flex;
    flex-direction: column;
    flex: 1;
    place-content: center;
    place-items: center;
    height: 100%;
  }

  .tree-area {
    flex-direction: row;
    padding-left: 2rem;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    justify-content: flex-start;
    overflow-y: scroll;

    .tree {
      width: 360px;
      height: 640px;

      &-header {
        display: flex;

        .spacer {
          flex: 1;
        }
      }
    }
  }

  .blueprint-area {
    .blueprint-canvas {
      cursor: pointer;
    }
  }
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
