@import "../../variables";

.screens-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 45% 45% 10%;
  grid-template-areas: ". . .";
  height: 100%;

  [class$="-area"] {
    display: flex;
    flex: 1;
    place-content: center;
    place-items: center;
    height: 100%;

    [class$="-canvas"] {
      background-color: $blueprint;
    }
  }
}
