<div class="screens-container">
  <div class="ui-screen-area">
    <svg width="360" height="640" [attr.viewBox]="viewBox" class="image-canvas">
      <image
        [attr.href]="imagePath"
        [attr.width]="width"
        [attr.height]="height"
      />
      <g *ngFor="let item of getKeys(boxes)">
        <rect
          *ngFor="let box of boxes[item]"
          [attr.x]="box.x"
          [attr.y]="box.y"
          [attr.width]="box.width"
          [attr.height]="box.height"
          fill="transparent"
          stroke="black"
          stroke-width="1"
        />
      </g>
    </svg>
  </div>
  <div class="blueprint-area">
    <svg
      width="360"
      height="640"
      [attr.viewBox]="viewBox"
      class="blueprint-canvas"
    ></svg>
  </div>
  <div class="button-area"></div>
</div>
