@import "../../variables";

.header {
  background: $dark;
  color: snow;
  height: 100%;
  display: flex;

  .pickers {
    display: flex;
    flex: 1;

    .picker {
      font-size: medium;
      margin-right: 1rem;
      width: 20rem;

      mat-form-field {
        width: 16rem;
        padding-right: 4rem;
      }
    }
  }

  .title {
    font-family: "Roboto Slab", serif;
    font-size: 1.75rem;
    font-weight: 200;
    display: flex;
    flex: auto;
  }
}
